<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
      <parameters>$(find my_robot_description)/config/controller.yaml</parameters>
    </plugin>
  </gazebo>
  <gazebo reference="base_link"><material>Gazebo/Gray</material></gazebo>
  <gazebo reference="link1"><material>Gazebo/Blue</material></gazebo>
  <gazebo reference="link2"><material>Gazebo/Blue</material></gazebo>
  <gazebo reference="link3"><material>Gazebo/Gray</material></gazebo>
  <gazebo reference="gripper_link"><material>Gazebo/Red</material></gazebo>
</robot>
